ROOT=/path/to/repo

params.chrom_sizes = ["hg19": "${ROOT}/data/chrom_sizes/hg19.chrom.sizes"]
params.tss = ["hg19": "${ROOT}/data/tss/hg19.tss.bed.gz"]
params.gtf = ["hg19": "${ROOT}/data/gtf/hg19.gtf.gz"]
params.blacklist = ["hg19": ["${ROOT}/data/mappability/hg19.blacklist.1.bed.gz", "${ROOT}/data/mappability/hg19.blacklist.2.bed.gz"]]


// specific for this pipeline
params.chromhmm_glob = "${ROOT}/data/chromhmm/2013/GM12878.*"
params.chipseq_glob = "${ROOT}/data/chipseq_idr/*.bed.gz"
ATACSEQ_ROOT="${ROOT}/cluster_density/work/atacseq/results"
params.atacseq.ataqv = "${ATACSEQ_ROOT}/ataqv"
params.atacseq.md = "${ATACSEQ_ROOT}/mark_duplicates"
params.atacseq.peaks = "${ATACSEQ_ROOT}/macs2"
params.atacseq.pruned = "${ATACSEQ_ROOT}/prune"
